{% load static %}

<header class="main-header">
	<div class="container">
		<nav class="main-nav">
			<div class="main-nav-list">
				<div class="nav-item">
                    <a href="#"><img src="{% static 'img/notifications-button.png' %}" alt="Flexbox"></a>
                </div>				
                <div class="nav-item">
                    <a href="#">Главная</a>
                </div>
				<div class="nav-item">
                    <a href="#">Контакты</a>
                </div>
			</div>
		</nav>
	</div>
</header>