{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type='text/css' href="{% static 'css/base_css.css' %}">
        {% block localCssLink %} {% endblock %}
        <title>{% block name %} {% endblock %}</title>
    </head>

    <body>
        {% include 'snippets/header.html' %}
        <div class="the-main-wrapper">
            
            <div class="main">
                {% block content %}
                {% endblock %}
            </div>
            
        </div>
        {% include 'snippets/footer.html' %}
    </body>

</html>