{% extends 'base.html' %}
{% load static %}

{% block localCssLink %}<link rel="stylesheet" type='text/css' href="{% static 'css/index.css' %}"> {% endblock %}

{% block name %}
    Index Page
{% endblock %}

{% block content %}

<div class="main-container">
    <div class="map">
        {% autoescape off %}
            {{ plot_div }}
        {% endautoescape %}
    </div>
    <div class="for-form">
        <form method="POST" class="form" action="/" name="form1">
            {%csrf_token%}
            <div class="input-content">
                <div class="name">Id детектора</div>
                <input type="text" size=40 name="dec_id">
            </div>
            <div class="input-content">
                <div class="name">Координата X</div>
                <input type="text" size=40 name="dec_x">
            </div>
            <div class="input-content">
                <div class="name">Координата Y</div>
                <input type="text" size=40 name="dec_y">
            </div>
            <button type="submit" class="button">Отправить</button>
        </form>
    </div>
    <div class="for-form">
        <form method="POST" class="form">
            {%csrf_token%}
            <div class="input-content">
                <div class="name">Id детектора</div>
                <input type="text" size=40 name="an_dec_id">
            </div>
            <div class="input-content">
                <div class="name">Id аномалии</div>
                <input type="text" size=40 name="an_id">
            </div>
            <div class="input-content">
                <div class="name">rate</div>
                <input type="text" size=40 name="an_rate">
            </div>
            <button type="submit" class="button">Отправить</button>
        </form>
    </div>
</div>
{% endblock %}